<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="/css/styles.css" />
        <link rel="icon" href="/images/weather.png" />

    </head>
    <body>
        <div class="content-container">
            {{>header}}
            <p>{{message}}</p>
        </div>
        {{>footer}}
    </body>
</html>