<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="/css/styles.css" />
        <link rel="icon" href="/images/weather.png" />
    </head>
    <body>
        <div class="content-container">
            {{>header}}
            <div style="text-align: center;">
            <img src="https://avatars.githubusercontent.com/u/32473494?v=4" class="portrait" />    
            </div>
            <p style="padding: 0 8rem;">This site was created by Jhunmark Ng. It uses data from goecode maps.googleapis.com  and weatherstack.com</p>
        </div>
        {{>footer}}
    </body>
</html>