<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="/css/styles.css" />
        <link rel="icon" href="/images/weather.png" />
    </head>
    <body>
        <div class="content-container">
            {{>header}}
            <img src="https://avatars.githubusercontent.com/u/32473494?v=4" class="portrait"/>    
        </div>
        {{>footer}}
    </body>
</html>